<div class="worker-container">
    <h2>Create New Technician</h2>
    <!-- Success Message -->
    <div *ngIf="successMessage" class="alert success"> {{ successMessage }} </div>
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert error"> {{ errorMessage }} </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-row">
            <label>Email</label>
            <input type="email" formControlName="email">
            <small *ngIf="f['email'].touched && f['email'].invalid">Valid email is required</small>
        </div>
        <div class="form-row">
            <label>Password</label>
            <input type="password" formControlName="password">
            <small *ngIf="f['password'].touched && f['password'].invalid"> Minimum 6 characters required </small>
        </div>
        <div class="form-row">
            <label>First Name</label>
            <input type="text" formControlName="firstName">
            <small *ngIf="f['firstName'].touched && f['firstName'].invalid">First Name is required</small>
        </div>
        <div class="form-row">
            <label>Last Name</label>
            <input type="text" formControlName="lastName">
            <small *ngIf="f['lastName'].touched && f['lastName'].invalid">Last Name is required</small>
        </div>
        <div class="form-row">
            <label>Phone Number</label>
            <input type="text" formControlName="phoneNumber">
            <small *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid">Phone Number is required</small>
        </div>
        <div class="form-row">
            <label>Address</label>
            <input type="text" formControlName="address">
            <small *ngIf="f['address'].touched && f['address'].invalid">Address is required</small>
        </div>
        <div class="form-row">
            <label>City</label>
            <input type="text" formControlName="city">
            <small *ngIf="f['city'].touched && f['city'].invalid">City is required</small>
        </div>
        <div class="form-row">
            <label>Employment Number</label>
            <input type="text" formControlName="employmentNumber">
            <small *ngIf="f['employmentNumber'].touched && f['employmentNumber'].invalid">Employment Number is
                required</small>
        </div>
        <div class="form-row">
            <label>Specialty</label>
            <input type="text" formControlName="specialty">
            <small *ngIf="f['specialty'].touched && f['specialty'].invalid">Specialty Number is required</small>
        </div>
        <div class="form-row">
            <label>Province</label>
            <input type="text" formControlName="province">
            <small *ngIf="f['province'].touched && f['province'].invalid">Province Number is required</small>
        </div>
        <button type="submit" [disabled]="loading"> {{ loading ? 'Creating...' : 'Create Technician' }} </button>
    </form>
</div>