:host {
  display: block;
}

/* Layout */
.container {
  width: min(1200px, 100%);
  margin: auto;
  padding: 0 20px;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid var(--border);
  z-index: 1000;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Brand */
.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;

  strong {
    font-weight: 700;
  }
}

.brand__mark {
  width: 10px;
  height: 10px;
  background-image: url("../../../../../../assets/landing-page/installation.jpg");
  border-radius: 50%;
}

/* Nav links */
.nav__links {
  display: none;
  align-items: center;
  gap: 28px;
}

.nav-item {
  text-decoration: none;
  color: var(--text-muted);
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    color: var(--link-hover);
  }
}

.active-link {
  color: var(--link-hover);
}

/* Cart */
.nav-cart {
  position: relative;
  text-decoration: none;
  color: var(--text);
  font-weight: 600;

  &:hover {
    color: var(--link-hover);
  }
}

.cart-count {
  background: var(--text);
  color: var(--bg);
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
  padding: 3px 8px;
  margin-left: 8px;
}

/* CTA */
.btn-outline {
  border: 1px solid var(--text);
  color: var(--text);
  padding: 8px 18px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    border-color: var(--link-hover);
    color: var(--link-hover);
  }
}

/* Right side */
.nav__right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Hamburger */
.hamburger {
  background: none;
  border: none;
  color: var(--text);
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
}

/* Mobile */
/* Mobile */
.mobile-menu {
  position: fixed;
  left: 0;
  right: 0;

  /* always below header */
  top: 64px; /* fallback */
  z-index: 999; /* below header (1000) is okay, but better use 1001 */
  z-index: 1001;

  background: rgba(15, 15, 15, 0.92);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--border);

  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

.mobile-menu.open {
  transform: translateY(0);
  opacity: 1;
  margin: 15px 0px;
  pointer-events: auto;
}

.mobile-panel {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.mobile-item {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;

  &:hover {
    color: var(--link-hover);
  }
}
.login-btn {
  text-decoration: none;
  color: var(--link-hover);

  &:hover {
    color: var(--text);
    text-decoration: underline;
  }
}
.full-width {
  text-align: center;
}

/* Desktop */
@media (min-width: 768px) {
  .nav__links {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
