<div class="category-type-container">
    <!-- Part List -->
    <section class="card list-card">
        <h2>Part List</h2>
        <table class="category-table">
            <thead>
                <tr>
                    <th>Part Name</th>
                    <th>Structure Name</th>
                    <th>Type Name</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of Parts; let i = index">
                    <td>{{item.name}}</td>
                    <td>{{item.strucutreName}}</td>
                    <td>{{item.categoryTypeName}}</td>
                    <td>
                        <img *ngIf="item.fileUrl" [src]="item.fileUrl" alt="Type Image" class="type-image" />
                        <span *ngIf="!item.fileUrl">No Image</span>
                    </td>
                    <td>
                        <button class="icon-btn edit">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="icon-btn delete" (click)="onDelete(item.id!)">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Paginator -->
        <div class="paginator">
            <div class="page-size">
                <label for="pageSize">Rows per page:</label>
                <select id="pageSize" (change)="onPageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [value]="size" [selected]="size === pageSize"> {{size}}
                    </option>
                </select>
            </div>
            <div class="page-controls">
                <button (click)="onPageChange(pageIndex - 1)" [disabled]="pageIndex === 1">Prev</button>
                <span>Page {{pageIndex}} of {{totalPage}}</span>
                <button (click)="onPageChange(pageIndex + 1)" [disabled]="pageIndex === totalPage">Prev</button>
            </div>
        </div>
    </section>
    <!-- Add New Part -->
    <section class="card form-card">
        <h2>Add New Part</h2>
        <form [formGroup]="crateForm" (ngSubmit)="onSave()">
            <div class="form-group">
                <label for="typeName">Type Name <span class="required">*</span></label>
                <input type="text" formControlName="name" id="typeName" placeholder="e.g., Electronics" required />
                <p *ngIf="
        crateForm.get('name')?.getError('required') &&
        crateForm.get('name')?.touched
      " class="text-danger"> Name is required! </p>
            </div>
            <div class="form-group">
                <label for="parentStructure">Parent Structure</label>
                <select id="parentStructure" formControlName="structureId">
                    <option value="" disabled selected style="color: #484b4d; text-align: center;">-Select Structure-
                    </option>
                    <option *ngFor="let item of Structures" [value]="item.id">{{item.name}} </option>
                </select>
                <input type="file" id="fileUpload" (change)="onFileSelected($event)" />
                <div *ngIf="previewUrl" class="preview">
                    <p>Preview:</p>
                    <img [src]="previewUrl" alt="Preview" class="preview-img" />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="btn cancel">Cancel</button>
                <button type="submit" class="btn primary">Save</button>
            </div>
        </form>
    </section>
</div>