@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

